body {
  background: url(../img/bg.jpg) no-repeat;
}
.box1 {
  width: 463px;
  height: 217px;
  margin-left: 500px;
  margin-top: 20px;
  float: left;
}
.sliders {
  position: absolute;
  top: 100px;
  left: 50px;
  height: 465px;
  margin-top: 150px;
}
.overlay {
  width: 100%;
  height: 463px;
  margin-top: 190px;
  opacity: 0.2;
  background-color: black;
  float: left;
}
