@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/league-gothic.leaguegothic-regular.otf');
  font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans Lite';
    src: url('../fonts/open-sans.light.ttf');
  font-weight: normal;
    font-style: normal;
}

body {
/*width: 100%;*/
background: url(../img/bg1.jpg) no-repeat;
/*background-position: center top;
   background-size: 100% auto;*/
 }
.wrapper960 {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
header {
  font-family: "League Gothic";
}
header img {
    margin-left: 117px;
    margin-top: 19px;
}
.sliders {
  top: 100px;
  left: 50px;
  height: 465px;
  margin-top: 190px;
}
.navbar-brand img {
  margin-top: 34px;
  margin-left: 0;
  float: left;
}
.box1 {
  width: 500px;
  margin-left: 0px;
  margin-top: 108px;
  float: left;
}
h1,h2 {
  font-family: "League Gothic";
  line-height: 0.6;
}
h1 {
  font-size: 58px;
  color: rgb( 254, 254, 254 );
  line-height: 0.6;
  letter-spacing: 0;
  text-align: left;
  text-shadow: 0px 2px 2px rgb( 0, 0, 0 );
}
h2 {
  font-size: 32px;
  color: #edbfff
}
p {
  font-family: "OpenSans Lite";
  font-size: 17px;
  color: white;
}
.box1 img {
  margin-left: 115px;
  margin-top: -28px;
}
.row {
  clear: both;
  margin-top: 50px;
  height: 150px;
  background: linear-gradient(to bottom, #735082, #33263a);

}
